body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #449142;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #349459;
}

main {
    padding: 20px;
    text-align: center;
}

img {
    max-width: 80%;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    background-color: #ffcc80;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.login-form {
    display: inline-block;
    text-align: left;
    background-color: #fff3e0;
    padding: 20px;
    border-radius: 8px;
}

.login-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e65c00;
}